.containerGeneral {
    width: 95%;
    margin: auto;
}

.containerAcademia {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-img-top {
    width: 80%;
    height: 95%;
    padding: 10px;
    border-radius: 30px;
    border-top: 30px;
}

.cardAcademia {
    width: 70%;
    height: 100%;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 50px;
    border-radius: 30px;
    background-color: rgb(206 218 252);
    color: #2a4674;
    padding: 20px;
}

.card-title {
    font-size: 30px;
    font-weight: bolder;
    padding-left: 10px;
}

.card-text {
    font-size: 30px;
    text-align: left;
    color: #2a4674;
    padding-left: 10px;
}